
/**
  a partir daqui é o login
*/


.container {
    background-color: #693708;
    width: 380px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    padding: 15px 60px;
    border-radius: 5%;
}

.sub-tittle span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sub-tittle {
    margin-bottom: 15px;
  }

  .tittle span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }

  .tittle {
    margin-top: 15px;
    margin-bottom: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* a partir daqui é as caixinhas de entrada */
  
  input[type="text"] {
    padding: 10px;
    padding-left: 32px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #693708;
    border-color: white;
    color: white;
    width: 350px;
  }
  
  input[type="password"] {
    padding: 10px;
    padding-left: 32px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #693708;
    border-color: white;
    color: white;
    width: 350px;
  }

  .pen-svg {
    fill: white;
    position: absolute;
    left: 29%; /* ajuste de posicionamento */
    top: 29%; /* ajuste de posicionamento */
    transform: translateY(-50%);
    width: 17px;
  }
  
  /* a partir daqui é os botôes */

  button[type="submit"] {
    padding: 10px 20px;
    margin-top: 22px;
    background-color: #693708;
    border-color: white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 395px;
  }
  
  button[type="button"]{
    padding: 10px 20px;
    margin-top: 18px;
    background-color: #1A1B22;
    border-color: #1A1B22;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 395px;
  }
  
  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
  }
  
  /*
  
  a partir daqui é os ícones das caixas
  
  
  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
  
  */
  
  
  .input-group-password::before {
    content: "\f023"; /* ícone do cadeado */
    font-family: "Font Awesome 5 Free";
    color: white;
    position: absolute;
    left: 10px; /* ajuste de posicionamento */
    top: 40%; /* ajuste de posicionamento */
    transform: translateY(-50%);
    font-size: 1.5rem;
  }
  
  
  /*
  a partir daqui é o "Esqueceu a senha ?"
  */
  
  .forgot-password {
    display: block;
    margin-top: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 255px;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /*
  a partir daqui é o "Crie uma conta aqui!"
  */
  
  .create-account {
    color: #4ab0ff;
    margin-left: 7px;
    text-decoration: none;
  }
  
  
  .texto-para-criar-conta{
    font-size: 12px;
    display: flex;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /*
  menssagem de redirecionamento
  */
  
  #redirect-message {
    display: none; 
    margin-top: 20px;
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }