body{
  color: white;
}

.container{
    max-width: 800px;
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: #693708;
    width: 500px;
    text-align: center;
    padding: 15px 60px;
    border-radius: 5%;
  }

th {
  padding-bottom: 30px;
}

h1{
  text-align: left;
  margin-bottom: 40px;
}

h5{
  text-align: left;
  margin-bottom: 20px;
}

.celula-com-espaçamento {
  margin: 600px;
}

#tabela-carrinho {
  width: 350px; 
  margin-bottom: 40px;
}

#tabela-carrinho td {
  width: 25%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255); 
}

#tabela-total td {
  width: 25%;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
}

button[type="submit"] {
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #693708;
  border-color: white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 395px;
}
